.graphparams-graphview-board {
  width: 700px;
  height: 700px;
}

.graphparams-graphview-vertex {
  stroke: black;
  fill: white;
}
.graphparams-graphview-vertex.deletemode:hover {
  fill: gray;
}

.color0 {
  fill: red;
}

.color1 {
  fill: blue;
}

.color2 {
  fill: yellow;
}

.color3 {
  fill: lightgreen;
}

.color4 {
  fill: magenta;
}

.color5 {
  fill: orange;
}

.color6 {
  fill: purple;
}

.color7 {
  fill: cyan;
}

.color8 {
  fill: lightgreen;
}

.color9 {
  fill: gold;
}

.graphparams-graphview-edge {
  stroke: blue;
  stroke-width: 0.5;
}
.graphparams-graphview-edge.deletemode:hover {
  stroke: gray;
}

.graphview-text {
  font: bold 6px sans-serif;
  fill: black;
}
